version: '3'
services:

  web:
    build:
      context: .
      dockerfile: Dockerfile
    depends_on:
      - pg
    ports:
     - "3333:3333"
    environment:
      - PGPASSWORD=efe6358aa3
    command: ["rails", "server"]

  pg:
    image: postgres
    environment:
      - POSTGRES_PASSWORD=efe6358aa3

